<header id="header"{% if page.home %} class="alt"{% endif %}>
    <h1><a href="{{ page.find("/").url }}">{{ site.header.logo }}</a></h1>
    <nav>
        <a href="#menu">{{ site.header.menu_name }}</a>
    </nav>
</header>